[2018-01-01 14:27] rskikuli opened #1 "Github page presentation"
I saw this page from another project i like related to public geo-data : https://github.com/grote/Transportr which features a really nice landing page on github. Can we do the same for CityZen including some info about the project?
Deadline 1.02.2018

[2018-01-01 14:31] rskikuli opened #2 "Github issue template for project management"
Can we create a template for tasks that appears every time that someone creates an issue here at the taskt management repo? I have seen this from Ura Github page.
This should include:

- description of the task
- other comments
- deadline

Deadline for this: 15.01.2018

[2018-01-14 01:20] rskikuli opened #3 "Funding: Patreon profile"
Create Patreon profile in order to get funding. Website: https://www.patreon.com/.

Deadline: 22.01.2018

[2018-01-14 22:34] kominoshja opened #4 "Introduce utopian.io to CityZen"
Utopian (utopian.io) is a service that allows all contributors to receive rewards for contributing in an open source project (doesn't have to be code, it can be translation, design, writing, etc). The reward amount is decided by the community itself. It would be great to include utopian to CityZen, as it can increase the community.

[2018-01-16 19:35] rskikuli opened #5 "Promo business cards"
Would be great to have some business cards that include:

- logo;
- url of the website;
- email (ping at cityzenapp dot co);
- github profile;
- patreon campaign;
- bitcoin donations (QR code?).

These cards can be easily used in:

- community meetups;
- events like Fosdem, OSCAL, CCC etc.

Once finalized please save the design in the dedicated repo for design.

Would be great to have those before

[2018-01-23 12:03] rskikuli opened #6 "Add a code of conduct note when someone opens a new issue"
We should make it possible for the code of conduct to be displayed automatically when a new issue is published just like the screenshot.
![code_screenshot from 2018-01-23 13-01-34](https://user-images.githubusercontent.com/17770262/35274747-9393c96a-003d-11e8-9fe1-df59cf652a09.png)

[2018-01-23 12:04] rskikuli opened #7 "Create code of conduct for the Github repo"
We need to write a code of conduct in order to implement issue #6.

[2018-01-24 22:30] rskikuli opened #8 "Establish a documentation platform"
As in every software we need to establish a documentation platform where all the details related to the project will be documented. First step is to do some research on the ideal platform, thatshould definitely be free open source.

[2018-01-24 22:37] rskikuli opened #9 "Chat channel establishment"
We need to decide on the ideal chat platform for the project that needs to be also an open source software or protocol. IRC should be considered, but other options  should be on the table.

[2018-01-27 15:23] rskikuli opened #10 "Host visual ID at Identihub"
In case we do not have already hosted our visual ID at Identihub, we need to host it the soonest and also promote it a bit through our social media (ping @marianaballa ). It also needs to be visible at our website (ping @sidorelauku ).

[2018-01-27 15:25] rskikuli commented on #3
I've been working on this and the website is live: https://www.patreon.com/CityZenApp. It needs a lot of work still though. Will work on more updates so that we are ready before Fosdem 2018.

[2018-01-27 19:09] marianaballa commented on #9
As a communication/chat platform for CityZen I would suggest using Riot.im (https://about.riot.im/). Riot is an open source communications' platform that offers integrations with several other platforms (including IRC clients, pads or bots). It's suitable for file sharing, audio/video calls and it is really user-friendly.

[2018-01-31 17:03] rskikuli opened #11 "Website based on Github pages"
Finalisation of the new website that is based on Github pages. The github repo for this can be found here: https://github.com/CityZenApp/CityZenApp.github.io.

[2018-01-31 17:25] rskikuli commented on #11
Publish first blog post based on https://redon.skikuli.com/2017/08/announcing-the-cityzen-project/

[2018-01-31 17:26] rskikuli commented on #11
Publish second blog post about the localization efforts. Ping @marianaballa.

[2018-01-31 17:27] rskikuli commented on #11
Footer (same with the 'old website'):

- privacy policy;
- license;
- credits.

[2018-01-31 17:40] rskikuli commented on #11
Other improvements:

- main screen: add button 'download from F-Droid'
- main screen: add button 'Support on Patreon (https://github.com/CityZenApp/task-management/issues/3)';
- main screen: text:
The companion app to navigate the city
open source & privacy by default
- below the main text title: About the project
- below the main text:
CityZen is an open source Android app that helps you navigate

[2018-01-31 17:45] rskikuli commented on #11
Add link to our Visual id as hosted at Identihub (at the footer?). See #10 . What do you think @sidorelauku ?

[2018-01-31 18:06] rskikuli commented on #9
Add info about IRC, Riot and Telegram communication channels at the dedicated 'Community' page of the new website. Ping @sidorelauku

[2018-01-31 18:07] rskikuli commented on #11
Add new dedicated page 'Community' visible from the menu as well including info about how someone can join the community (IRC, Github etc).

[2018-01-31 18:09] AnXh3L0 commented on #7
https://help.github.com/articles/adding-a-code-of-conduct-to-your-project/ @marianaballa here it is how you can do that.

[2018-01-31 18:17] rskikuli opened #12 "Communication strategy for the visual communication"
We need to brainstorm and establish a communication strategy (big word) for CityZen. This will be the aim of the monthly meeting for February 2018 at th hackerspace in Tirana https://forum.openlabs.cc/t/cityzen-app-meetup-shkurt-2018/976.

[2018-01-31 18:18] rskikuli commented on #12
Taskt #5 relates on this.

[2018-01-31 18:35] rskikuli commented on #4
@Borisbudini tried to sign in with Steemit, but I don't receive a verification SMS :(. Any idea how to overcome this?

[2018-01-31 18:39] rskikuli opened #13 "Add a wiki page dedicated to CityZen at the OSM wiki"
We need to add our project to the OpenStreetMap wiki and to present all the features of CityZen.

[2018-01-31 23:07] kominoshja commented on #4
I don't really know, can you please retry?
Maybe it takes a little longer than expected

[2018-02-02 00:10] rskikuli commented on #9
IRS is now established. What about Riot and Telegram synchronization @AnXh3L0 ?

[2018-02-02 00:12] rskikuli opened #14 "Announcement on the OSM mailing list(s)"
Let's present CityZen at the OSM community mailing lists. Please @sidorelauku share a draft of the announcement here (on a pad?) before publishing it. Can we do this in February?

[2018-02-02 00:19] rskikuli opened #15 "Language update for localisation"
Based on the list of most spoken languages please add more languages on the list of translation on the Weblate platform. Here is the list: https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers.

[2018-02-02 00:23] rskikuli opened #16 "Announcement on other mailing lists"
Let's have some more outreach to other floss communities with members that might be interested at CityZen. The first step would be to identify some of these communities:

- Prishtina Hackerspace;
- FLOSS Kosova;
- Hack42 Arnhem;
- Amsterdam Hackerspace;
- Athens Hackerspace;
- Lamda Space (Thessaloniki);
- Open Knowledge Belgium;
- OSM Belgium;

What else? Please add some links and contacts if you

[2018-02-02 00:35] rskikuli opened #17 "State of the Map 2018 presence"
Being present on SotM is quite important. I'll apply for a grant to present CityZen there, but also more presence is needed. Here are some ideas:

- finalize the communication plan as mentioned here #12
- printing of business cards as mentioned here #5
- any other promo material;
- info booth (if this is possible).

Website for the event: https://2018.stateofthemap.org/.

[2018-02-02 00:40] rskikuli opened #18 "Media kit for the website"
Since we might have some media requests in the following weeks we might need to have a dedicated page with promo materials that can easily downloaded. The material might include, but not limited to:

- screenshot of the app;
- general info about the project;
- logos;
- some photos from events we have participated;
- history of the project.
- any other idea you might have.

[2018-02-07 13:53] rskikuli commented on #4
I just found a way of getting a US based mobile number. Looking forward on having a confirmation for the account.

[2018-02-07 13:54] rskikuli commented on #11
![image](https://user-images.githubusercontent.com/17770262/35919949-b8bfeb3a-0c16-11e8-954e-d699ad2f7ba8.png)
@AnXh3L0 @sidorelauku the website is not opening... Any idea why?

[2018-02-07 13:55] rskikuli commented on #9
Before closing this issue there are two points:

- synchronization with Riot (ping @AnXh3L0 )
- mention of the Chat channel on our new website (ping @sidorelauku )

[2018-02-07 14:02] rskikuli opened #19 "Community discussion platform"
I was wondering about a forum platform about CityZen. The ideal scenario is to have a self hosted instance, but we don't have the resources for it yet. I was wondering if Redit is something that can cover our needs for the moment. What do you think?

R.S

[2018-02-08 14:51] rskikuli opened #20 "Design guidelines for the repo"
We have a dedicated repo for our visuals which needs a little bot of love https://github.com/CityZenApp/Branding. Here is an example that can be remixed for our needs https://github.com/theodi/ODI/blob/master/charter/brand-communications.md.

[2018-02-11 11:16] rskikuli commented on #11
Wesite based on Github pages is now online. Many thanks @sidorelauku @AnXh3L0! Additional proposed improvements:

- main screen: add button 'download from F-Droid'
- main screen: add button 'Support on Patreon (#3)';
- main screen: text: with not a capital 'T' on the word 'The companion app'
- below the main text: CityZen is an open source Android app that helps you navigate and explore your city

[2018-02-11 11:36] rskikuli commented on #8
A good article related to this issue can be found here: https://opensource.com/article/17/7/how-do-we-fix-technical-documentation-problem?sc_cid=70160000001273HAAQ.

[2018-02-11 14:47] rskikuli commented on #8
What about this http://readthedocs.io/? Has anyone used it?

[2018-02-11 18:11] rskikuli commented on #11
Also at the 'about' page would be great to have the history of CityZen in a time-line fashion. Here is an example: https://hackmd.io/about.

R.S

[2018-02-18 17:06] rskikuli commented on #8
For starters I would propose to use the OSM wiki page, which I created a couple of days ago: https://wiki.openstreetmap.org/wiki/CityZen. I think it does the job for the moment. If there are no other comments @sidorelauku please add this info (the fact that the documentation wil lbe established at the before mentioned link) and once this is done I'll close this issue.
The wiki page of course needs

[2018-02-19 17:52] rskikuli commented on #13
The page is initiated and can be found here: https://wiki.openstreetmap.org/wiki/CityZen. Needs improvements of course.

[2018-02-19 18:01] rskikuli commented on #19
Based on the CityZen meetup on February at Open Labs hackerspace we agreed to use Github for decision making and community discussion. Closing this.

[2018-02-19 18:01] #19 closed, assigned to nobody

[2018-02-19 18:04] rskikuli commented on #18
Based on the discussion on monthly February 2018 at Open Labs hackerspace we agreed to use Identihub for this. @sidorelauku and or @AnXh3L0 please add this on the website. After it is added will close this.

[2018-02-19 18:05] rskikuli commented on #17
Have applied with a presentation. Waiting for comments from the organizers.

[2018-02-19 18:10] rskikuli opened #21 "Repo for events and presentations"
Let's create a repository that will host all the presentations (multimedia) that we will do in events. Important: the readme file needs to be very good visually.

[2018-02-19 18:14] rskikuli commented on #14
Deadline: march 2018.

[2018-02-19 18:14] rskikuli commented on #15
@marianaballa any update on this?

[2018-02-19 18:16] rskikuli commented on #11
Please @sidorelauku an update about the issues on this. Many thanks.

[2018-02-19 18:17] sidorelauku commented on #14
I will also annunce it on OSM maliling list.

[2018-02-19 18:18] rskikuli commented on #10
@AnXh3L0 please an update on this. @sidorelauku after this is done please add link to the press corner. Ideal deadline: 28.02.2018.

[2018-02-19 18:20] rskikuli commented on #9
Please an update @AnXh3L0 on the synch issue. Ideal deadline: 28.02.2018.

[2018-02-19 18:22] rskikuli commented on #4
Do we know any alternative for utopian.io @Borisbudini ?

[2018-02-24 12:59] kominoshja commented on #4
I'm afraid I don't know any other alternative. :(

[2018-02-26 22:59] rskikuli opened #22 "Add CityZen to opensourcefriday.com GitHub project"
Let's explore the possibility of having CityZen as one of the projects of the https://opensourcefriday.com/ project maintained by GitHub. Here are more details: https://opensourcefriday.com/businesses.
Deadline: 5.03.2018.

[2018-02-28 23:02] rskikuli opened #23 "Tablet version: research"
We will need to do some research for the Android version of the app for tablet devices. It is unclear at the moment the amount of time and resources needed to implement this version of the app and any info would be appreciated. Once we have an answer to these questions we can open a dedicated repository for the code of the tablet version.

[2018-02-28 23:24] rskikuli opened #24 "Pre Android 5 testing and improvements"
Can anyone do testing for pre Android5 and also send feedback here? Would be highly appreciated.

[2018-03-03 15:06] rskikuli commented on #14
@sidorelauku  is this done?

[2018-03-03 15:50] sidorelauku commented on #14
No not yet, sorry I forgot for this. I will post today.

[2018-03-04 16:04] h4ck3rm1k3 opened #59 "Doge and Eth"
Hi guys, please setup a etherium, doge and maybe ADA wallet and I will send you some

[2018-03-04 19:56] sidorelauku commented on #13
I added some more information on the wiki page.

[2018-03-04 19:59] sidorelauku commented on #1
Something similar is also on android-development repo. I think we need to improve readme file also for the other repos with informations on how someone can help and contribute.

[2018-03-08 00:22] rskikuli opened #25 "Website/blog: CityZen of the month series"
Let's start a CityZen of the month blog post series featuring interviews with specific questions about the selected person. People can also be nominated here at GitHub, which will involve also the community.
Here are the proposed questions:

- Please introduce yourself;
- When and how did you discover CityZen?
- Why did you become a CityZen? What motivates you?
- In what field do you contribute mo

[2018-03-12 23:04] rskikuli commented on #3
New deadline: 2.04.2018. More improvements needed.

[2018-03-12 23:09] rskikuli opened #26 "Website: 404 page text"
Here is the standard  'page not found' design that we actually have at the moment http://cityzenapp.co/sfdsafd. We need to create a 404 new page that will feature:

- back-link to the homepage;
- our logo;
- maybe the photo from unsplash.com we are using on the homepage.

Deadline: 15.04.2018

[2018-03-12 23:12] rskikuli opened #27 "Website: fix the redirect to the homepage"
While on one of the blogposts, when you click on the CityZen logo on the upper right corner it sends to a 404 error page. Example: http://cityzenapp.co/2018/01/31/localization.html.

Deadline 30.03.2018.

[2018-03-14 13:39] sidorelauku commented on #11
Updates for the tasks:

Booth button are added and also the mobile responsive design.

Done.

Scrolling is improved, is now smooth. Can be improved further.

Done.

Not sure about this, as cityzen is on also centered, doesn't makes sense to have ti twice.
My suggestion is to show "cityzen" next to logo only when you scroll down.

Other tasks not mentioned here are not improved yet.

[2018-03-15 09:32] rskikuli commented on #11
After the latest changes (thanks @sidorelauku) here are the pending issues:

- mouse over at 'download' and  'support on Patreon' buttons;
- there are two sections 'News' and 'Blog' that needs to be merged. Let's keep only 'blog'?
- 'Download' button needs to send to a new page that explains how to download the app through Fdroid. Please create the page, link it and I will add more content;
- Menu

[2018-03-16 15:04] rskikuli opened #28 "Blog: CityZen of the month April 2018"
After the initial idea #25 got some traction from @marianaballa we are planning to continue the series in the next months. People can also be nominated here at GitHub, which will involve also the community.
Here are the proposed questions:

- Please introduce yourself;
- When and how did you discover CityZen?
- Why did you become a CityZen? What motivates you?
- In what field do you contribute mor

[2018-03-16 15:19] jbelien commented on #25
That reminds me of something 😇

[2018-03-19 20:34] kominoshja opened #29 "CityZenApp Infrastructure"
Hey folks! So i've seen CityZen develop at our local hackerspace: for quite some time now. Although I can't use CityZen (iOS) I love the project. So I decided i wanted to support it. It seems that as of now there's no infrastructure. So I want to donate 2 VPS with these specs:
1 vCore(s)
2.4 GHz
2 GB RAM
10 GB SSD
Local RAID 10
I think that one of them should be used for mailing list (Discourse se

[2018-03-21 12:39] rskikuli commented on #29
Thank you very much @Borisbudini . It is amazing to see how people are supporting the project, it really gives me personally energy to contribute further.
From what you mentioned I would put IRC connection between IRC and Telegram as a priority. Some members of our community have requested this for privacy issues and also based on the fact that irc in contrary to Telegram is a channel that respect

[2018-03-21 15:34] rskikuli commented on #9
Guys one more think: documentation is important for this one. It should be posted here: https://github.com/CityZenApp/Project-Management/wiki.

[2018-03-21 15:35] rskikuli commented on #7
@marianaballa do you think we could close this before 28.03.2018?

[2018-03-21 18:15] kominoshja commented on #29
The bridge between the IRC and telegram can be done really easily. However I'd prefer if someone else from the community configures/maintain the servers, so more people can learn. However if no one is able to take on this at the moment, I'd be happy to take on this until someone is available

[2018-03-21 21:52] marianaballa commented on #28
For the month of March Andy was the contributor of the month.

For April, I'd like to nominate Elio Qoshi. He has helped a lot with his design skills and has dedicated a lot of energy on the project.

[2018-03-21 22:16] rskikuli commented on #29
Nothing is 'easy' my friend to all the people :) I mean it might be easy for you that have now the skills, but not for other people. Would be great if you could share your knowledge with someone, but I don't know who that person might be. So, if you think you need some time to find someone it's fine, as long as you let us know the time needed. If you prefer the shortcut go for it as well. Whatever

[2018-03-21 22:22] rskikuli commented on #25
Sometimes stealing ideas and other things ain't hurt nobody (in the words of The Clash https://www.youtube.com/watch?v=ttJBdr6eBuo) as long as it is legal of course.

[2018-03-21 22:46] rskikuli commented on #25
First blog post is published: http://cityzenapp.co/2018/03/19/cityzen-of-the-month-andy-scherzinger.html.
CityZen of the month for March 2018 is Andy Scherzinger. You can propose CityZen for the next month at this issue or over here: #28 .

[2018-03-21 22:48] kominoshja commented on #29
So here's how I think to proceed with this. Anyone can message me here, meanwhile i'll prepare my bank. If no one writes, it's okay, I'll set it up. Sound's good?

[2018-03-21 23:56] rskikuli commented on #29
No one will reply here if you don't ask people using different channels. I'm confident that if you share it with mailing list or other communication platforms of FLOSS communities definitely someone will respond. Unfortunately no one will just see this post without sharing it :).

[2018-04-02 18:12] rskikuli commented on #28
+1 with @marianaballa . If you have proposals please share here.

[2018-04-02 18:29] AndyScherzinger commented on #28
:+1: for the April proposal of @marianaballa

[2018-04-02 20:18] rskikuli opened #30 "OSCAL 2018 presence"
This year we will be present with a CityZen info booth at OSCAL 2018, the fifth edition of Open Source Conference Albania. We are planning to have some stickers (courtesy of Ura Design), a device showing the app (or a tablet if we can manage to have one), a laptop with the website, some candies and also a registration form for the participants that want to register for our newsletter. Mariana and

[2018-04-02 20:24] rskikuli opened #31 "Blog: CityZen of the month May 2018"
Following the initial idea #25 we are opening the proposals from the community to nominate CityZen of the month for May 2018.
Here are the proposed questions:

- Please introduce yourself;
- When and how did you discover CityZen?
- Why did you become a CityZen? What motivates you?
- In what field do you contribute more (community, documentation, development, community development, blockchain?)?
-

[2018-04-04 21:00] rskikuli opened #32 "Licensing of the materials of the project"
At a Wikimedia Commons page I saw an issue with the screenshot of OSMand app:
![osm and screenshot screenshot from 2018-04-04 22-38-41](https://user-images.githubusercontent.com/17770262/38333482-0c166cf0-3859-11e8-87b8-be3b5ab5eece.png)
The issue is documented here: https://commons.wikimedia.org/wiki/Commons:Deletion_requests/Files_in_Category:OsmAnd.
Although we have worked for time to time on d

[2018-04-11 17:00] marianaballa commented on #31
As the next CityZen of the Month I would like to nominate @sidorelauku. She has contributed a lot at the project and I think she deserves to be the next person to be featured on the blog. :)

[2018-04-11 17:06] rskikuli commented on #31
I also support the proposal. Sidorela has been very active not only the last months, but from day one of the project.  Hopefully more community members will agree with the proposal.

[2018-04-12 05:50] sidorelauku commented on #27
@rskikuli do you still have this issue? as to me it seems to be ok.

[2018-04-13 09:29] nafieshehu commented on #32
Hello @rskikuli sorry for my delay in working with this issue. Created a pull request where I added some of the licences we are using, will ask @sidorelauku for help in making them look better. I saw the issue with the screenshot of OSMand app as far as I checked all the licences we are using allow to have a screenshot in commons, let me know if I'm wrong. I wanted to ask you about "We also need t

[2018-04-13 09:48] rskikuli commented on #32
Thank you Nafie.  Regarding the libraries, let's add them later on.  Please update this issue once we have progress.  Thank you.

[2018-04-30 13:03] marianaballa commented on #28
Blogpost with Elio's interview was published today. You can find it here: http://cityzenapp.co/2018/04/30/cityzen-of-the-month-elio-qoshi.html

[2018-04-30 13:04] #28 closed, assigned to marianaballa

[2018-05-04 19:11] rskikuli opened #33 "whatcanIdofor.cityzenapp.co project"
I was thinking of creating e web page based on https://whatcanidoformozilla.org where people can easily understand how they can help CityZen project? Here is the code for the Mozilla project https://github.com/jdm/asknot. What do you think?

[2018-05-21 15:25] rskikuli commented on #7
ping @marianaballa :)

[2018-05-21 17:35] rskikuli opened #34 "Adding Librepay options for donations"
Liberapay is a way to donate money recurrently to people whose work you appreciate. Payments come with no strings attached. You don't know exactly who is giving to you, and donations are capped at €100.00 per week per donor to dampen undue influence.
Donations are public. By default, the total amount you give and the total amount you receive are public (you can opt out of sharing this info). Liber

[2018-06-02 11:04] rskikuli commented on #9
@Borisbudini has offered to help us with making it possible to records meetings on IRC somehow. What is the status friend? The plan for this year is to finalize community infra and the sooner we establish IRC meetups the better :). Many thanks.

[2018-06-02 11:12] rskikuli opened #35 "Website: backlinks on credits page"
Please add a backlink on the websites that are presented on our credits page: http://cityzenapp.co/credits/. Also add Identihub link to the project page.

[2018-06-02 11:36] rskikuli opened #36 "Website: Fosdem 2018 blog post"
The first 'big' presentation of CityZen happened at Fosdem in Brussels in February 2018. As this is an important moment for the project would be great to have a dedicated blog post featuring details about what happened and also expressing the excitement of our team during the event and also the feedback we had there. The presentation, description of the talk and also the video can be found here: h

[2018-06-02 11:38] AnXh3L0 commented on #10
Yes, the Identihub page of the project is up and ready here: https://demo.identihub.co/project/cityzen

[2018-06-02 11:39] rskikuli commented on #21
This is created: https://github.com/CityZenApp/Events-and-presentations. Closing this @nafieshehu .

[2018-06-02 11:39] #21 closed, assigned to rskikuli, nafieshehu

[2018-06-02 11:54] rskikuli opened #37 "Website: remove 'news' from the menu"
Since the 'blog' button leads to the news section let's remove the 'news' link from the main menu of the website. Thank you.

[2018-06-02 11:58] rskikuli commented on #10
![cityzen_screenshot from 2018-06-02 13-48-00](https://user-images.githubusercontent.com/17770262/40874224-f270f6ca-666c-11e8-832c-ab03cef5f857.png)
@AnXh3L0 there is something weird going on with the logos. Have a look at the screenshot.

[2018-06-02 12:06] rskikuli commented on #33
This is Python powered @nafieshehu . Interested in helping?

[2018-06-02 12:14] rskikuli commented on #29
Hey @Borisbudini seems like you can proceed :). We did not have any contact from quite some time. I would kindly ask you to document the process at our wiki https://github.com/CityZenApp/Project-Management/wiki. Ping me for updates.

[2018-06-02 12:21] rskikuli commented on #13
Can we update the screenshots with the new version @sidorelauku ? I also documented this on our wiki https://github.com/CityZenApp/Project-Management/wiki/OSM-community.

[2018-06-02 12:31] rskikuli commented on #31
Hey @sidorelauku waiting for your responses :)

[2018-06-02 12:34] AnXh3L0 commented on #10
It should be fixed now, please check again.

[2018-06-02 12:57] rskikuli commented on #35
This seems to be updated. Thank you @marianaballa and @sidorelauku for the help . Closing this.

[2018-06-02 12:57] #35 closed, assigned to marianaballa

[2018-06-02 12:58] rskikuli commented on #37
This seems to be changed. Many thanks @marianaballa. Closing this now.

[2018-06-02 12:58] #37 closed, assigned to marianaballa, sidorelauku

[2018-06-02 12:59] rskikuli commented on #27
This seems to be ok now. Many thanks @sidorelauku ! Closing this now.

[2018-06-02 12:59] #27 closed, assigned to sidorelauku

[2018-06-02 13:01] rskikuli commented on #25
Now that we have CityZen of month for May I would like to propose @jbelien for CotM for June 2018. He has been involved in the first days of the development of the app and has also important contributions in many important discussions regarding the direction of the app development.

[2018-06-02 13:32] rskikuli opened #38 "Website: add https support"
To better protect traffic to our GitHub powered page we need to add https to our website.
Since GitHub Pages now officially1 supports HTTPS for all <username>.github.io sites would be great to implement it to our domain name as well.
More details about the implemntation: https://blog.github.com/2016-06-08-https-for-github-pages/. Would be nice if we could do this by June 2018.

[2018-06-02 14:07] rskikuli commented on #10
Yeap it is better now. Documented here: https://github.com/CityZenApp/Project-Management/wiki/Visual-materials and also at the credits: http://cityzenapp.co/credits/. Thank you! closing this.

[2018-06-02 14:07] #10 closed, assigned to sidorelauku, AnXh3L0

[2018-06-02 14:21] rskikuli opened #39 "Website: add a link to GitHub wiki for documentation"
In the footer of the website we should add a link to 'documentation' close to 'License', 'Privacy policy' 'Credits' and 'Community'. The link where the documentation is hosted can be found here: https://github.com/CityZenApp/Project-Management/wiki. Many thanks.

[2018-06-02 14:38] rskikuli commented on #11
I'm splitting the tasks in different issues @sidorelauku . This might make it easier to implement and follow up. If you agree I'm closing this.

[2018-06-02 14:38] rskikuli opened #40 "Website: homepage buttons"
Can we have a nice effect on mouse over at the buttons 'download' and 'support on Patreon'?
This is a follow up to #11

[2018-06-02 14:42] rskikuli opened #41 "Website: create new 'download' page"
Idea: the 'download' button from homepage sends to a new page that explains how to download the app through Fdroid, why why choos Fdroid as a platform etc. If you agree please create the page, link it and I will add more content here.
This is a follow up to #11

[2018-06-02 14:47] rskikuli opened #42 "Website: 'contact us' page"
The 'contact us' on the menu doesn't lead anywhere at the moment. I propose to link it with the community page, which can be found here: http://cityzenapp.co/community/.
This is a follow up to #11

[2018-06-02 14:50] rskikuli opened #43 "Website: adding analytics"
We need to have an idea of the traffic on our websibe, but without tracking the users. Let's use Piwik or similar open source platforms to measure the traffic of the website;
This is a follow up to #11

[2018-06-02 21:02] kominoshja commented on #29
Hey @rskikuli
Sorry this had gotten out of my mind. Yeah absolutely.
I'll start on this two weeks from now [ Exams week :disappointed: ]

[2018-06-02 21:04] kominoshja commented on #9
So as we discussed on https://github.com/CityZenApp/Project-Management/issues/29, I will start to work on bridging all the chat platforms that the community uses (IRC, Telegram, etc), and I'll also add a documentation bot for when you have meetings :slightly_smiling_face:

[2018-06-03 11:45] rskikuli commented on #30
Closing this now after documenting it at our events page on our GitHub powered wiki. Thanks @marianaballa for your contribution! To the next one :)

[2018-06-03 11:45] #30 closed, assigned to marianaballa

[2018-06-03 11:53] rskikuli commented on #10
Yeap it is better now. Documented here: https://github.com/CityZenApp/Project-Management/wiki/Visual-materials and also at the credits: http://cityzenapp.co/credits/. Thank you! closing this.

[2018-06-10 18:16] rskikuli opened #44 "Apply for Digital Impact Alliance grant"
There is an interesting grant that might help us improve our project. The DIAL Open Source Center’s Catalytic Grant program is an offering of financial support for free & open source software projects working in the humanitarian response & international development sectors. These grants are intended to support types of work that have traditionally been neglected or unfinished by these projects for

[2018-06-11 17:22] nafieshehu commented on #44
@rskikuli I think we should try to apply for this round because the deadline is extended until June 15. Had a look at the questions, will update you tomorrow.

[2018-06-12 09:43] rskikuli opened #45 "Trademark for the project"
I was wondering if having a trademark for a project like ours is in conflict with an open source license such as Mozilla Public License. Do free open source projects file for trademark ownership? Any info from Free software Foundation related to this? Any help on this is appreciated.

[2018-06-12 19:30] rskikuli opened #46 "Version 1.1 press release"
Following the launch of the new update we would need to work on the press release and blog post featuring list of updates/features. The LibreOffice team updates are a good example: https://blog.documentfoundation.org/blog/2018/01/31/libreoffice-6/. After the final press release it should be published on our website.

Would be really nice to have a draft by: 19.06.2018.

[2018-06-12 20:13] rskikuli opened #47 "Discussion: monthly meetings"
In order to assure community engagement I would propose to have monthly virtual meetings on a specific day, let's say every first Tuesday of each month at 16.00 CET. This is just a proposal of course and your inout is needed. Communication channels proposed are:
- IRC (since early June 2018 synchronized with our Telegram channel);
- Jitsy (for those who also want to be on a video channel at the sa

[2018-06-12 21:18] rskikuli opened #48 "Jitsi video chat channel for the community"
Following #47 I would propose to have a dedicated Jitsi channel for our monthly calls/chats/meetups online. I propose Jotsi because as far as I know it is free software, but any other floss alternative would be more than welcome. After finalizing this please document it here: https://github.com/CityZenApp/Project-Management/wiki/Community:-chat

Ideal deadline: 19.06.2018.

[2018-06-12 22:02] rskikuli opened #49 "Documentation: community infra"
I would kindly ask to update the page with the community infra featuring our IRC channel, Telegram group and video chat platform. I have added some content, but it definitely needs more proof reading: https://github.com/CityZenApp/Project-Management/wiki/Community:-infra.

[2018-06-13 10:51] nafieshehu commented on #44
Working here for the application process: https://pad.openlabs.cc/p/Digital_Impact_Alliance_grant

[2018-06-13 18:26] nafieshehu opened #50 "Consensus building of our community"
I would like to initiate a discussion about the ways that we build consensus in our community. Here is a short checklist:
- Public list of contributors who have decision power and documented governance process.
- Decisions made by consensus among leaders and documented on the project's main communications venue. Community opinions taken into account but leaders have final decision.
- Documented vo

[2018-06-13 18:29] nafieshehu opened #51 "Discussion: community engagement"
I'd like to initiate one more discussion about how the community interacts and gets engaged. Here is a checklist:
- Project has a well-known web site that points to all the information required to operate according to this maturity model.
- Community welcomes contributions from anyone who acts in good faith and in a respectful manner and adds value to the project.
- Contribution considered as sour

[2018-06-14 09:35] sidorelauku commented on #26
@rskikuli  I created a simple html page for the moment only with the link to get back to website.
Will improve it during the this weekend until 17.06.2018

[2018-06-14 21:38] rskikuli commented on #26
I would propose to also use this images on the background or else... https://unsplash.com/photos/TrhLCn1abMU. Don't forget to credit it. Thanks.

[2018-06-15 12:34] rskikuli commented on #44
Application send. Thank you @nafieshehu . Closing this.

[2018-06-15 12:34] #44 closed, assigned to rskikuli, nafieshehu

[2018-06-16 16:14] jbelien commented on #25
I don't know how I missed this ... but I'm honored !
If you're still up for having me as Citizen of the Month, I'm good to go :)

[2018-06-16 16:23] rskikuli commented on #38
Ping @Borisbudini since he offered to solve this.

[2018-06-16 16:24] rskikuli commented on #31
Blog post is online: http://cityzenapp.co/2018/06/15/cityzen-of-the-month-sidorela-uku.html. Thank you @sidorelauku and @marianaballa for your engagement. Closing this.

[2018-06-16 16:24] #31 closed, assigned to marianaballa

[2018-06-26 11:27] rskikuli opened #52 "Unicef Innovation Fund application"
UNICEF's Innovation (Venture) Fund is a newly established, non-thematic, pooled fund which has been specifically designed to finance early stage, open-source technology that can benefit children. The core motivation of the Innovation Fund is to identify "clusters" or portfolios of initiatives around emerging technology - so that UNICEF can both shape markets and also learn about and guide these te

[2018-06-26 11:56] rskikuli opened #53 "Add CityZen at droid-break.info"
Droid-Break is a list of free and open source Android apps inspired by Prism-Break. The purpose of the project is to show high quality alternatives to the big proprietary solutions.
Would be great to add also CityZen to the list of apps that are displayed there. Here are the instructions about this:

Website of the project can be found here: https://droid-break.info/

Deadline: 15.07.2018

[2018-06-26 21:44] nafieshehu commented on #52
Hi,

Will work on the application process and will keep you informed.

Thanks,
Nafie

[2018-06-27 17:58] AndyScherzinger commented on #53
@rskikuli PR has been opened: https://github.com/droidbreak/droidbreak.github.io/pull/64

[2018-06-28 16:59] rskikuli commented on #53
Thanks @AndyScherzinger . Now we wait for the issue from droidbreak to be closed right?  Let me know if additional information is needed from my side.

[2018-06-28 17:22] AndyScherzinger commented on #53
Exactly @rskikuli - so let's wait and see.

[2018-07-02 13:35] rskikuli commented on #48
Hey @Borisbudini can you support us with this?

[2018-07-05 18:28] marianaballa commented on #39
Button redirecting to the above link was added to the footer.

If there is nothing else to add, we can close this.

[2018-07-05 18:33] marianaballa commented on #41
If I get this correctly @rskikuli you are proposing to have one more (static) page on the nav bar (?) with general info about CityZen and how to download it?

That's doable.

[2018-07-05 18:48] marianaballa commented on #42
"Contact us" button linked with the community page.

We can close this now.

[2018-07-06 11:42] rskikuli commented on #42
Thank you @marianaballa

[2018-07-06 11:42] #42 closed, assigned to marianaballa

[2018-07-09 14:44] rskikuli commented on #49
@Borisbudini do you think we can have an https://readthedocs.org/ instance for our documentation similar to this one https://ajuntamentdebarcelona.github.io/foss-guide/ca/Introduccio.html? Can this be hosted at GitHub in order to avoid having a dedicated server?

[2018-07-09 19:54] nafieshehu commented on #33
Hey @rskikuli I will help with this issue, already working on it :). Will ask for help in the next few days regarding the content, logo, colors etc.

Thanks,
Nafie

[2018-07-09 21:34] rskikuli commented on #33
Super excited about this @nafieshehu . Many thanks! Looking forward.

[2018-07-13 10:52] rskikuli commented on #38
Have you been able to review this @sidorelauku @Borisbudini ? Changing the priority of the task.

[2018-07-29 20:57] rskikuli opened #54 "LibreOffice impress template"
The more progress the development of the project has the more exposure we will in conferences and events with more people presenting what CityZen is about. This means we will need to have more consistence in the presentation materials.
This task is about creating a [LibreOffice Impress](https://www.libreoffice.org/discover/impress/) template for CityZen app. As a guide please read this https://doc

[2018-07-30 20:58] rskikuli opened #55 "Promo materials with slogan, website - showing support for OSM"
During this edition of State of the Map I found it hard to (a) share the url of the website of the project (b) to explain in one sentence what CityZen does and (c) share the link of the GitHub repo where people can contribute to the project. I think this can be fixed partially by creating stickers featuring:

- the logo with the URL of the project;
- the logo with the slogan;
- the logo and the te

[2018-07-31 17:31] rskikuli opened #56 "Transfering management of the project to a company"
Dear active contributors, during the last weeks there have been many instances when individuals or group of people have abused the free open source license we are using for our project. The actual version of CityZen is been created through a lot of work and investment of a small team that has dedicated countless hours to the project. It seems that there are people out there that do not respect our

[2018-08-11 07:44] rskikuli commented on #53
It seems like they did not update it. What do you think is the best way to ping them @AndyScherzinger ?

[2018-08-13 08:08] AndyScherzinger commented on #53
No idea really. I did ping the owner via the corresponding twitter account but never got any reaction :(

[2018-08-18 12:11] marianaballa commented on #56
Redon I read carefully your notes and I can see your concerns. To me as a contributor wouldn't make much of a difference if the management of the project will be transferred to an established company.
As long as the company that will foster the CityZen project shares the same "philosophy" I don't think that will be a problem.

[2018-08-18 13:26] samtuke commented on #56
@rskikuli Sorry to hear about the license violations. What is the legal owner of the copyright of the app currently, and how would transferring copyright to a company make enforcement easier?

The owner of the copyright and the recipient of in-app payments does not need to be the same entity.

[2018-08-18 19:47] rskikuli commented on #56
Thanks for your valuable feedback Sam. Regarding the copyright ownership: I have had the initial idea and vision of the project and have worked a lot to implement the vision. Many people have been involved in a way or the other some more intensively and other less, some people where active in the beginning and did not get involved after a while and others have been quite active only lately. Based

[2018-08-23 08:38] rskikuli commented on #25
For this month I would propose @marianaballa as CityZen of the month. She has been an outstanding contributor at many fronts and the backbone of many activities inside the project.

[2018-08-23 22:52] rskikuli commented on #17
There will e a blog post about this in the next weeks. Will publish it here.

[2018-08-25 16:41] rskikuli commented on #33
Also this can be a good guide for people that want to understand how to contribute to CityZen: https://github.com/sleepypioneer/ContributingToNextcloudIntroductoryWorkshop. It can be published on our website as a blog post, GitHub wiki or part of the http://cityzenapp.co/community/ page.

[2018-08-29 13:40] berkes commented on #34
F-droid supports [several donation options](https://f-droid.org/en/docs/Build_Metadata_Reference/#Donate):

* FlattrID
* LiberapayID
* Bitcoin
* Litecoin

Since the README already has a Bitcoin donation address in place, that can be added to the f-droid build-metadata already.
The other options need set-up or registriation first, before the IDs can be added to the build-metadata.

[2018-08-29 13:52] berkes commented on #34
I've searched the repo's but cannot find where the https://gitlab.com/fdroid/fdroiddata/blob/master/metadata/com.cityzen.cityzen.txt file is generated from, or stored at. This file, or the tooling generating that file, would need a minor patch, which I gladly make, to include the BTC address. And in future add the Liberapay ID too.

[2018-09-02 09:20] repat commented on #53
Sorry I've been super busy lately and also on vacation (on which I don't take my laptop ;)). PR merged :)

[2018-09-02 09:52] AndyScherzinger commented on #53
Thanks a lot @repat, highly appreciate your efforts ❤️

[2018-09-09 23:51] rskikuli commented on #53
Thank you guys. Closing this now.

[2018-09-09 23:51] #53 closed, assigned to nobody

[2018-10-12 19:00] kominoshja commented on #38
I can definitely help with this. The site can be hosted on my server. Does that sound okay?

[2018-10-12 20:48] AnXh3L0 commented on #38
@rskikuli has to change A records at Namecheap so the site gets HTTPS, I think GH pages is the best solution so you won't need to use a server for just this.

[2018-11-06 00:11] jdnrg commented on #56
A foundation might make sense for the same goals

[2019-01-20 15:37] marianaballa opened #57 "Transferring management to a company"
A few months ago [issue #56](https://github.com/CityZenApp/Project-Management/issues/56) was created as a result of the publication of the CityZen app on Google PlayStore from someone that claimed that the app was theirs.

A few days ago, the local contributors from Tirana held a meeting in order to discuss the possibility of having [Collective68](https://collective68.tech/) as the legal owner/man

[2019-02-12 11:31] rskikuli commented on #57
As I mentioned during our meeting the idea here is not to reinvent the wheel, but to find a governance structure from other organizations and adapt it to our needs. Anything comes to mind?

[2019-02-12 21:18] rskikuli commented on #57
I did some research today and it seems that openSUSE has quite a good governance and management system for the community: https://en.opensuse.org/Portal:How_to_participate

[2019-02-16 15:20] rskikuli commented on #57
Just found this "Collection of data about open source governance models" by @cornelius:
https://cornelius.github.io/open-source-governance/. Quite useful to take a decision.

[2019-07-29 16:48] rskikuli opened #60 "Adding: Github sponsor button"
We can now add a 'sponsor' button in our repositories to increase the visibility of funding options for CityZen.
More funding will help us have more visibility, cover some of the costs (domain etc) and also print some promotional materials to start with.
Here are the details about this feature form Github: https://help.github.com/en/articles/displaying-a-sponsor-button-in-your-repository
If anyone

[2019-07-29 17:08] rskikuli commented on #56
We have now a decision on this. Thanks everybody on the constructive online and offline discussions. Closing this.

[2019-07-29 17:08] #56 closed, assigned to rskikuli

[2019-07-29 17:09] rskikuli commented on #46
We have now passed ver. 1.0 :) Will work on the next release. Closing this.

[2019-07-29 17:09] #46 closed, assigned to nafieshehu, marianaballa

[2019-07-29 17:10] rskikuli commented on #52
The application is done by @silvaarapi . Maybe it needs review also from you @nafieshehu ? Anyway, closing this to remove the clutter.

[2019-07-29 17:10] #52 closed, assigned to rskikuli, nafieshehu

[2019-07-29 17:15] kominoshja opened #58 "Create email account for CityZen"
As extension of the decision reached in CityZenApp/Project-Management#57, we need to have a dedicated email account for cityzen, since right now the contact email is @rskikuli's personal email address

Can we proceed with cityzen@collective68.tech?

[2019-07-30 11:31] rskikuli commented on #58
+1 on my side, but keep in mind that community members such as @marianaballa might also want to have access to it.

[2019-07-30 11:40] rskikuli commented on #57
Should we close this @marianaballa ?